* {
    margin: 0;
    padding: 0;
}

#maincontact {
    top: 166px;
    left: 420px;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
}

#divcontact1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 0;
}

#divcontact2 {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 18px;
}

#divcontact4 {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-direction: row;
    font-size: 18px;
    margin-top: 10px;
}

#divcontact2>div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#divcontact2>div>input {
    height: 53px;
    background-color: white;
    border: none;
    border-bottom: white solid 3px;
    color: black;
    font-size: 20px;
    font-family: monospace;
}

#divcontact4>div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#divcontact4>div>input {
    background-color: white;
    border: none;
    border-bottom: white solid 3px;
    height: 53px;
    color: black;
    font-size: 20px;
    font-family: monospace;
}

#textarea1 {
    height: 200px;
    background-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 3px solid white;
    color: black;
    font-size: 20px;
    font-family: monospace;
    margin-top: 10px;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

#bodycontactez>div>h1 {
    color: black;
    width: fit-content;
    top: 537px;
    font-size: 64px;
    left: 363px;
    font-family: system-ui;
}

#divtextarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 30px;

}

* {
    margin: 7px;
    padding: 0;
}

body {

    height: 100%;
    background-image: url(pngtree-mouthwatering-3d-pizza-loaded-with-extra-toppings-image_3749838.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

img {
    height: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

nav a {
    color: black;
    text-decoration: none;
}

.main p {
    font-size: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.main h1 {
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.main h3 {
    font-size: 30px;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main button {
    height: 50px;
    width: 100px;
    background-color: yellow;
    background: none;
    transition: 0.3s;
}

button:hover {
    background-color: yellow;

}

#button10 {
    height: 50px;
    width: 114px;
    border-radius: 32px;
    color: white;
    border: white 1px solid;
    background: none;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 17px;
    transition: 0.4s;
}

#section100 {
    display: flex;
    justify-content: end;
    width: 79%;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

#button10:hover {
    background-color: yellow;
    color: black;
}

#divcontact5 {
    display: flex;
    align-items: center;
    justify-content: center;
}